:root {
    --c-primary-light: #91979E;
    --c-primary: #222F3D;
    --c-primary-dark: #0E1721;
    --c-secundary-light: #FFEFE0;
    --c-secundary: #FFC999;
    --c-secundary-dark: #FFA96B;
    --c-font: #FBFBFB;
}

body,
html {
    background: var(--c-primary-dark);
    color: var(--c-font);
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
}

h1,
h2,
h3 {
    color: var (--c-secundary);
}

.btn {
    font-family: 'Crimson Text', serif;
    font-size: 1.2rem;
}

.btn-secondary {
    background-color: var(--c-secundary);
    color: var(--c-primary);
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary.active {
    background-color: var(--c-secundary-dark);
}

.btn-outline-secondary {
    color: var(--c-secundary);
    border-color: var(--c-secundary);
}

.btn-outline-secondary:hover,
.btn-outline-secondary:active,
.btn-outline-secondary.active {
    transition: 0.2s;
    background-color: var(--c-secundary);
    color: var(--c-primary-dark);
    border-color: transparent;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    transition: background-color 0.4s ease;
}

.navbar-solid {

    background-color: var(--c-primary-dark);
}

.navbar .nav-item .nav-link {
    color: var(--c-secundary-light);
    font-size: 1rem;
}

.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
    color: var(--c-secundary);
    text-decoration: overline;

}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler:focus:hover {
    transition: 0.2s;
    background-color: var(--c-primary);
    border: none;
}

.navbar-toggler-icon {
    filter: invert(0.4);
}

/* VIDEO */
.video-container h4,
.video-container h1,
.video-container a i {
    color: var(--c-font);
}

.exp-amose1 {
    color: var(--c-secundary-light);
}

.exp-amose {
    font-family: Manrope, sans-serif;
    color: var(--c-secundary);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    border-bottom: .1em solid;
}

.footer {
    background-color: var(--c-primary);
}

.footer a i {
    color: var(--c-font);
}

.copyright {
    font-size: 0.8rem;
}

.accordion-button:not(.collapsed) {
    background-color: var(--c-primary);
    border-color: var(--c-primary);
    color: var(--c-font)
}

.accordion-body {
    background-color: var(--c-primary);
}

.carousel-item .card {
    margin: 0 auto;
}

[data-bs-theme=dark] .carousel .carousel-control-next-icon,
[data-bs-theme=dark] .carousel .carousel-control-prev-icon,
[data-bs-theme=dark].carousel .carousel-control-next-icon,
[data-bs-theme=dark].carousel .carousel-control-prev-icon {
    filter: none;
}

.accordion-button.collapsed {
    background-color: var(--c-primary);
}

.card-body {
    background-color: var(--c-primary);
}


/* .icons-container i {
    background-color: var(--c-secundary);
    border-radius: 50%;
    color: #222F3D;
} */