:root {
    --c-primary-light: #91979;
    --c-primary: #222F3D;
    --c-primary-dark: #0E1721;
    --c-secundary-light: #FBFBFB;
    --c-secundary: #FFC999;
    --c-secundary-dark: #FFA96B;
}

body,
html {
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    transition: background-color 0.4s ease;
}

.navbar-solid {

    background-color: var(--c-primary-dark);
}

.navbar .nav-item .nav-link {
    color: var(--c-secundary-light);
    font-size: 14px;
}

.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
    color: var(--c-secundary);
    text-decoration: overline;

}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler:focus:hover {
    transition: 0.2s;
    background-color: var(--c-primary);
}

.navbar-toggler-icon {
    filter: invert(0.4);
}

.btn-outline-success {
    color: var(--c-secundary);
    border-color: var(--c-secundary);
    font-family: 'Crimson Text', serif;
    font-size: 20px;
}

.btn-outline-success:hover {
    transition: 0.2s;
    background-color: var(--c-secundary);
    color: var(--c-primary-dark);
    border-color: transparent;
}

.video {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 0
}

section {}

.top-home {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.top-home-ppal {
    padding: 3rem;
}

.top-home-logo {
    width: 260px;
    height: 300px;
}